.navbar-container {
  height: 6vh;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: thin;
  display: flex;
  background-color: rgb(194, 194, 194);
}

.nav-logo {
  height: 6vh;
}

.nav-title {
  color: #3d3f70;
  margin: 0;
  text-decoration: none;
  font-size: 6vh;
}

.nav-icons {
  height: 6vh;
}
