.navbar-container {
  height: 6vh;
  width: 100%;
  background-color: white;
  border-bottom-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-color: rgb(97, 97, 97);
  border-style: solid;
}

.nav-logo {
  height: 6vh;
}

.nav-title {
  color: #3d3f70;
  margin: 0;
  text-decoration: none;
  font-size: 6vh;
  font-weight: lighter;
}

.nav-icons {
  height: 6vh;
}
