html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  color: #1d1d1d;
}

a {
  text-decoration: none;
  color: #274cb4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
